.git/
.github/
.vscode/
.env
.env.*
!.env.example
node_modules/
vendor/
public/build/
storage/framework/sessions/*
storage/framework/cache/*
storage/framework/views/*
storage/framework/testing/*
storage/logs/*
bootstrap/cache/*
public/storage
.phpunit.result.cache
.phpunit.cache/
output/
tests/
coverage/
npm-debug.log*
yarn-error.log*
.DS_Store
